TELEGRAM_API_ID=
TELEGRAM_API_HASH=
TELEGRAM_BOT_TOKEN=
TELEGRAM_DESTINATION=@manto_omde_mk
TELEGRAM_SOURCE=@BarbieLand_shop
SOURCE_CODE=CH-001
PRICE_TYPE=percent
PRICE_VALUE=0
WHATSAPP_NUMBER=09384712198
ORDER_ID=@pakhshe_mk
SESSION_NAME=mk_collector
